h1 {
  color: red;
}
h2 {
  font-size: 1rem;
}

/* css rules */
/* selectors
    like elements, id, class etc. */

/* declaration block
    the whole thing inside of the selectors are declaration block
    it must have an opening and closing bracket */

/* declaration 
    property : value;
     */
