/* font-size, width, height, pixels */
/* 
pixel = absolute unit
remains fixed regardless the size of the window
one pixel is one dot (.) on a screen
*/

/* h1 {
  font-size: 45px;
  width: 200px;
  height: 300px;
  background: rgb(0, 0, 255);
  background: #48ff00;
} */

/* ------------------------------------------------------------ */
/* -----------------Percent values: Relative ------------------ */
/* 
Relative values are the values whose size changes with respect to the size of the window they are displayed upon.
for example : percent, rem

the relative uints are relative to the parents or in other words they are dependent to the parents. They will always be in resepct to the size of the parents. 
*/

.outer {
  width: 50%;
  height: 50%;
  background: blue;
}

.inner {
  width: 50%;
  height: 50%;
  background: red;
}
